.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.carta{
  margin-left: 50px;
  font-size: 2rem;
  width: 100px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  font-family: 'Indie Flower', cursive;
}
.res{
  font-family: 'Dancing Script', cursive;
  font-size: 4rem
}

.title{
  margin-left: 50px;
  border-bottom: 2px solid black;
  padding-bottom: 40px;
}

.menu{
  position: absolute;
}


.comanda{
  position: fixed;
  margin-left: 55%;
  width: 500px;
  padding: 50px;
  border-radius: 3%;
  border: solid 1px rgb(218, 218, 218);
  font-family: 'Indie Flower', cursive;
}

.box{
  display: flex;
  width: 600px;
  margin: 30px 20px 20px 20px;
  font-family: 'Indie Flower', cursive;
}



